footer
  .container.text-center
    p.pull-left Inspired by &nbsp;
      a(href="http://learnxinyminutes.com/") Learn X in Y minutes
    ul.pull-right.list-inline
      li
        a(href="http://www.chennainerd.in") Built by ChennaiNerd
      li
        a(href='https://github.com/ChennaiNerd/duodev') GitHub Project
