footer
  .container.text-center
    p.pull-left Inspired by &nbsp;
      a(href="http://learnxinyminutes.com/", target="_blank") Learn X in Y minutes
      | &nbsp;and&nbsp;
      a(href="https://www.duolingo.com/", target="_blank") duolingo
    ul.pull-right.list-inline
      li
        a(href="http://www.chennainerd.in", target="_blank") Built by ChennaiNerd
      li
        a(href='https://github.com/ChennaiNerd/duodev', target="_blank") GitHub Project
