.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img.img-32(src="/img/logo-white.png", alt="")
        |  DuoDev
    .collapse.navbar-collapse
      ul.nav.navbar-nav
      ul.nav.navbar-nav.navbar-right
        li(class=title=='Home'?'active':undefined)
          p.navbar-text
            if gravatar
              img.image-round(src='#{gravatar}')
            span #{name}
        li
          a(href='/logout')
            span.ion-log-out
            | Logout

