@import "base";
@import "language";
@import "practice";

.heading {
    font-size: 28px;
    line-height: 28px;
    color: #f9ab39;
    margin-bottom: 40px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.subheading {
    font-size: 18px;
    line-height: 18px;
    color: #f9ab39;
}

.subtitle {
    color: #999;
    margin-top: 10px;
    margin-bottom: 40px;
}