// Index page styles

body {
  margin-bottom: 0;
  background-color: #f8f4f0;
  background: -webkit-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* W3C */
}

// Hero unit

.hero-unit {
  color: #fff;
  padding: 40px 0 80px;
  margin: -10px auto 0;
  background: -webkit-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* W3C */
  text-align: center;

  h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }

  .lead {
    font-size: 20px;
  }
}


.subtitle {
    font-size: 24px;
    color: #efefef;
}

.form-signup {
    margin-top: 30px;
    margin-bottom: 30px;

    .form-group {
        margin-right: 20px;
    }
}

.video-section {
    margin-top: 60px;
}

.btn-video {
    font-size: 18px;
    color: #f1c40f;
    i {
        margin-right: 5px;
    }

    &:hover {
        color: #fff;
    }
}

