
.languages-section {
    .container {
        background-color: #fff;
        border: 1px solid #eee;
        -webkit-border-radius: 5px;
        -moz-border-radius:    5px;
        border-radius:         5px;
        max-width: 810px;
        padding: 0 20px 20px;
        margin-top: 20px;
    }

    .row {
        margin-bottom: 30px;
    }
}

.language-box {
    color: #fff;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    margin: 0 5px;
    padding: 30px;
}

.language-label {
    font-size: 22px;
}
