<div class="languages-section">
    <div class="container">
        <h1 class="heading no-bottom-margin">Languages</h1>
        <p class="subtitle">Choose language you wish to learn</p>
        <div ng-repeat="items in languages" class="row">
            <div ng-repeat="item in items" class="col-md-4">
                <a ng-href="#/languages/{{item}}">
                    <div class="language-box">
                        <span class="language-label">{{item}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>